{% extends 'base_layout.html' %}

{% block content%}
    <div class="review-detail">
        <div class="review">
            <img src="{{ review.thumb.url }}" alt="">
            <h2 class="book_title">{{ review.title }}</h2>
            <p class="book_author"> -{{ review.bookAuth }}</p>
            <p class="review_remarks"> {{ review.body }} </p>
            <h4 class="book_user">Review By : {{review.author}}</h4>
            <h5 class="review_date"> {{ review.date }}</h5>

        </div>
    </div>
{% endblock %}
