{% extends 'base_layout.html' %}

{% block content%}
    <div class="main">
        <div class="main-content">
            <h1 class="qoute">
                “ 
                <br />
                IF YOU DON'T LIKE TO <br>READ, YOU HAVE'NT<br>FOUND A RIGHT BOOK.
                <br/>
                ”
            </h1>
            <h3 class="name">
                -J.K Rowling
            </h3>
        </div>
    </div>
    <h1 class="book-heading">BOOK REVIEWS</h1>
    <div class="reviews">
        {% for review in reviews %}
            <div class="book-container">
                    <a href="{% url 'reviews:detail'  slug=review.slug %}"><img src={{review.thumb.url}} /></a>
                    <p class="book-title">{{review.title}}</p>
                    <p class="auth-name">-{{ review.bookAuth }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
