{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>ICS PROJECT</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <footer>
        <p>
          Made By
          <span
            ><br />
            Abdullah
          </span>
          <span
            ><br />
            Ezan
          </span>
          <span
            ><br />
            Hassan
          </span>
          <span
            ><br />
            Shayan</span
          >
        </p>
      </footer>
</body>
</html>